In [2]:
import  numpy as np

In [4]:
import pandas as pd

In [6]:
import statistics as stats

In [8]:
gobol=["Ben","Bari","Bay","Awdal"]
dadka=[4000000,10000000,1500000,5000000]
badka=[16,400,120,200]

In [22]:
df=pd.DataFrame({"gobolada":gobol,"dadka":dadka,"baaxadda":badka})
df

  gobolada     dadka  baaxadda
0      Ben   4000000        16
1     Bari  10000000       400
2      Bay   1500000       120
3    Awdal   5000000       200

## comment

In [26]:
ds=pd.Series([30,60,90])
ds

0    30
1    60
2    90
dtype: int64