In [75]:
import pandas as pd

In [76]:
dataset=pd.read_csv("D:movies.csv")
dataset.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,NaN,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English

In [77]:
dataset.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

## the columns

In [78]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         37 non-null     object
 1   industry      35 non-null     object
 2   release_year  37 non-null     int64
 3   imdb_rating   35 non-null     float64
 4   studio        34 non-null     object
 5   budget        31 non-null     float64
 6   revenue       37 non-null     float64
 7   unit          37 non-null     object
 8   currency      37 non-null     object
 9   language      37 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.0+ KB

## the info of data and its type

In [79]:
len(dataset)

37

## the length of dataset

In [80]:
dataset.describe()

       release_year  imdb_rating        budget        revenue
count     37.000000    35.000000     31.000000      37.000000
mean    2007.027027     7.945714   2464.196129    4117.135135
std       17.657995     1.212034  12536.293306   16372.462682
min     1946.000000     1.900000      1.400000       3.100000
25%     2001.000000     7.850000     23.500000     263.100000
50%     2014.000000     8.100000    177.000000     701.800000
75%     2018.000000     8.400000    320.000000    2000.000000
max     2022.000000     9.300000  70000.000000  100000.000000

## description of our data set

In [81]:
dataset.industry.value_counts()

industry
Hollywood    19
Bollywood    16
Name: count, dtype: int64

## The values

In [82]:
dataset['profit']=dataset['revenue']-dataset['budget']

In [103]:
index_max_prof_film=dataset['profit'].idxmax()

In [105]:
max_profit_film=dataset.loc[index_max_prof_film]

In [101]:
max_profit_film

title                     Pather Panchali
industry                        Bollywood
release_year                         1955
imdb_rating                           8.3
studio          Government of West Bengal
budget                            70000.0
revenue                          100000.0
unit                            Thousands
currency                              INR
language                          Bengali
profit                            30000.0
Name: 0, dtype: object

## the most profited film in the bollywood

In [114]:
max_flim_hw=dataset['profit'][dataset['industry']=='Hollywood'].idxmax()

In [118]:
hw_max_flim=dataset.loc[max_flim_hw]
hw_max_flim

title                     Avatar
industry               Hollywood
release_year                2009
imdb_rating                  7.8
studio          20th Century Fox
budget                     237.0
revenue                   2847.0
unit                    Millions
currency                     USD
language                 English
profit                    2610.0
Name: 11, dtype: object

## the most profited hollywood film

In [120]:
dataset.studio.value_counts()

studio
Marvel Studios               8
Vinod Chopra Films           3
Universal Pictures           2
Salman Khan Films            2
Paramount Pictures           2
Dharma Productions           2
DVV Entertainment            1
Mythri Movie Makers          1
Hombale Films                1
Zee Studios                  1
Vinod Chopra Productions     1
Government of West Bengal    1
Yash Raj Films               1
Syncopy                      1
20th Century Fox             1
Liberty Films                1
Universal Pictures           1
Columbia Pictures            1
Warner Bros. Pictures        1
Castle Rock Entertainment    1
Arka Media Works             1
Name: count, dtype: int64